<div class="container">
  <!--Jumbotron-->
  <div class="jumbotron text-center bg-dark text-white">
    <h1 class="display-4 bg-light text-dark" id="app-title"><img src="/assets/img/burger5.png" height="70px" width="70px"> Burgers Singh <img src="/assets/img/burger5.png" height="70px" width="70px"></h1>
    <p class="lead text-light">Welcome to Burgers Singh. The classic burger joint with the taste of Punjab!</p>
  </div>

  <div class="row">
    <div class="col-md-12">
      <div class="card border border-dark">
        <div class="card-header bg-dark text-white">
         What's your taste today?
        </div>
        <!--Create/add burger form-->
        <div class="card-body">
          <form class="create-form">
            <div class="form-group">
              <label for="burger">Enter your burger of dreams:</label>
              <input type="text" class="form-control" id="burgerToGo" placeholder="">
            </div>
            <button class="btn btn-dark" type="submit">Get me soon!</button>
          </form>
        </div>
      </div>
    </div>
  </div>


  <div class="row mt-4">
    <div class="col-md-6 mt-4">
      <div class="card border border-dark">
        <div class="card-header bg-dark text-white">
         Burgers in your Den!
        </div>
        <!--Div to hold burgers that have not been devoured yet-->
        <div class="card-body">
              {{#each burgers}}
                {{#unless devoured}}
                  {{> burgers/burger-block devour=false}}
                {{/unless}}
              {{/each}}
        </div>
      </div>
    </div>

    <div class="col-md-6 mt-4">
      <div class="card devoured-card bg-danger">
        <div class="card-header text-white" id="devoured-card-header">
         Devoured burgers!
        </div>
        <!--When a burger has been devoured, put burger here-->
        <div class="card-body">
          {{#each burgers}}
              {{#if devoured}}
                {{> burgers/burger-devoured devour=true}}
              {{/if}}
          {{/each}}
        </div>
      </div>
    </div>
  </div>

  <!--Footer-->
  <div class="row mt-5">
    <div class="col-md-12">
      <div class="card footer">
        <div class="card-body footer-body text-white">
          <h5 class="card-title">Burgers Singh</h5>
          <p class="card-text">Home delivery available! Post message on linkedin for any queries! Balle Balle!</p>
          <a href="https://github.com/docvvk/burgar" class="btn btn-dark mr-2" target="_blank">GitHub Repo</a>
          <a href="https://www.linkedin.com/in/docvvk/" class="btn btn-dark" target="_blank">LinkedIn</a>
          <br>
          <br>
          <small class="text-dark">Hiring now! Developers to code the latest burger flavors!</small>
        </div>
      </div>
    </div>
</div>