<div class="container">
  <!--Jumbotron-->
  <div class="banner text-center">
    <h1 class=" text-dark" id="app-title">SMOKEY BURGERS</h1>
    <br>
    <p class="lead text-dark">Welcome to <b>Smokey Burgers</b> The classic burger joint with the taste of <i>fumes!</i></p>
  </div>

  <div class="row">
    <div class="col-md-12 text-center">
      <div class="card border border-dark">
        <div class="card-header">
         WHAT'S YOUR TASTE TODAY?
        </div>
        <!--Create/add burger form-->
        <div class="card-body">
          <form class="create-form">
            <div class="form-group text-light">
              <label for="burger">Enter Your Choice</label>
              <input type="text" class="form-control" id="burgerToGo" placeholder="">
            </div>
            <button class="btn btn-dark" type="submit">Get me soon!</button>
          </form>
        </div>
      </div>
    </div>
  </div>


  <div class="row mt-4">
    <div class="col-md-6 mt-4 text-center">
      <div class="card border border-dark">
        <div class="card-header">
         BURGERS IN YOUR DEN!
        </div>
        <!--Div to hold burgers that have not been devoured yet-->
        <div class="card-body">
              {{#each burgers}}
                {{#unless devoured}}
                  {{> burgers/burger-block devour=false}}
                {{/unless}}
              {{/each}}
        </div>
      </div>
    </div>

    <div class="col-md-6 mt-4 text-center">
      <div class="card devoured-card">
        <div class="card-header" id="devoured-card-header">
         DEVOURED BURGERS!
        </div>
        <!--When a burger has been devoured, put burger here-->
        <div class="card-body">
          {{#each burgers}}
              {{#if devoured}}
                {{> burgers/burger-devoured devour=true}}
              {{/if}}
          {{/each}}
        </div>
      </div>
    </div>
  </div>

  <!--Footer-->
  <div class="row mt-5">
    <div class="col-md-12 text-center">
      <div class="card footer">
        <div class="card-body footer-body text-white">
          <h5 class="card-title">SMOKEY BURGERS</h5>
          <p class="card-text">Home delivery available! Post message on linkedin for any queries!</p>
          <a href="https://github.com/docvvk/burgar" class="btn btn-dark mr-2" target="_blank">GitHub Repo</a>
          <a href="https://www.linkedin.com/in/docvvk/" class="btn btn-dark" target="_blank">LinkedIn</a>
          <br>
          <small>Hiring now! Developers to code the latest burger <I>flavors!</I></small>
        </div>
      </div>
    </div>
</div>