/*Color of Devoured burgers card header*/
#devoured-card-header  {
    background-color: #0000001e;
}

/*Font color of devoured burger names*/
.devoured-burger-name {
    color: #f8afff;
}

/* Use Righteous font from Google fonts*/
body {
    /* font-family: 'Righteous', cursive; */
    font-family: 'Audiowide', cursive;
}


/* Font size of app title in jumbotron*/
#app-title {
    font-size: 50px;
    text-shadow: 4px 5px 8px #FF0000;
    font-family: 'Rock Salt', cursive;
    font-weight: 1000;
}

/*Font size of lead statement in jumbotron*/
.lead {
    font-size: 30px;
    text-shadow: 1px 1px 4px #FF0000;
}

/* Burger background image*/
body {
    background-image: url("/assets/img/burger9.gif");
    background-repeat: no-repeat;
    background-size: cover;
}

/*Border styling for devoured burgers card and footer */
.devoured-card, .footer {  
    border-style: solid;
    border-color: #000000;
}

p.card-text {
    color: #f0ff25;
}
.card-title {
    color: #FF0000;
    font-size: 25px;
    font-family: 'Rock Salt', cursive;
}

.card-header {
    background-image: linear-gradient(-90deg, rgba(0, 0, 0, 0.253), rgba(255, 255, 255, 0.253));
    color: blanchedalmond;
}

.banner {
    padding: 10vh 0 7vh 0;
}
.card {
    background: #0000001e;
    font-size: 25px;
    color: blanchedalmond;
}
.btn {
    color: bisque;
}