<div class="mt-4">
	<h4 class="burgerText">{{burger_name}}</h4>

	<!--Devour me button-->
	<button class="change-devour btn btn-dark" data-id="{{id}}" data-newdevour="{{devour}}">
		<img class="text-light" src="/assets/img/burger2.png" width=25px height=25px" class="mr-2"> Devour me
	</button>
</div>

